@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-VariableFont_wdth\,wght.ttf');
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url('../img/titel-bild.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'OpenSans';
    color: #fff;
    font-size: 40px;
    font-weight: 200;
}

header span {
    font-family: 'OpenSans';
    font-weight: bold;
}

header img {
    position: absolute;
    margin-top: 500px;
}

/* div {
    position: fixed;
    text-align: right;
    height: 30px;
} */

section {
    background-color: #f7f7f7;
}

.second_section {
    margin: 0 auto;
    padding-top: 300px;
    height: 500px;
    display: block;
}


.second_section h2, .section_artists h2 {
    font-size: 37px;
    font-family: 'OpenSans';
    text-align: center;
    margin: 0 auto;
}

.second_section p, .section_artists p {
    text-align: center;
    width: 750px;
    font-family: 'OpenSans';
    font-size: 18px;
    padding-top: 10px;
    margin: 0 auto;
}

.second_section p:nth-of-type(2)::after {
    content: 'Hangout Meets.';
    color: rgb(48, 145, 255);
}

.google_meet {
    display: flex;
    justify-content: center;
}

.google_meet img {
    width: 40%;
}

.section_artists {
    padding-top: 200px;
    height: 200px;
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 40px 100px 40px;
    margin: 0 auto;
}

.gallery img {
    width: 600px;
}

.collab {
    height: 600px;
    background-color: #fff;
    
}

.collab h2 {
    padding: 300px 0 300px 0;
    font-family: 'Roboto-Regular';
    font-size: 30px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 20px 10px;
    background-color: #fff;
}

footer section p:nth-of-type(1) {
    font-size: 12px;
    background-color: #fff;
    margin-left: 100px;
    color: #4a4a4a;
}

footer section {
    background-color: #fff;
}

footer section img {
    width: 200px;
    padding-left: 60px;
    background-color: #fff;
}

footer .footer_second_p {
    text-align: center;
    width: 360px;
    margin-right: 150px;
    font-size: 12px;
    color: #4a4a4a;
    background-color: #fff;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: #4a4a4a;
    padding-right: 40px;
    padding-top: 10px;
}

.fixed {
    position: fixed;
    font-size: 20px;
    background-color: #f7f7f7;
    width: 100%;
    text-align: right;
    bottom: 0;
}